.projects_section {
  margin-top: -40px;
  /* padding-bottom: 3em; */
}

.technologie {
  color: #fff;
  opacity: .6;
}

.projects h3 {
  color: #fff;
}

.projects img {
  width: 100%;
}

.projects .card {
  /* margin-top: 15px; */
  margin-bottom: 8em;
  padding: 15%;
  background-color: #191919;
  border-radius: 25px;
}

.projects .card-title {
  font-weight: 900;
}

.projects .card-text {
  font-weight: 700;
}

.projects .btn {
  background-color: aliceblue;
  border-radius: 13px;
  padding: 10px;
  font-weight: 600;
  color: #000;
}
