.projects_section {
  background: #111;
  padding: 3em 0;
}

.technologie {
  color: #acacac;
}

.projects h3 {
  color: #fff;
}

.projects img {
  width: 100%;

  /* height: 200px; */
}

.projects .card {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15%;
  background-color: #191919;
  border-radius: 25px;
}

.projects .card-title {
  font-weight: 900;
}

.projects .card-text {
  font-weight: 700;
}

.projects .btn {
  background-color: aliceblue;
  border-radius: 13px;
  padding: 10px;
  font-weight: 600;
  color: #000;
}
