.projects_section {
  margin-top: -40px;

  /* padding-bottom: 3em; */
}

.technologie {
  color: #fff;
  opacity: 0.6;
}

.projects h3 {
  color: #fff;
}

.projects img {
  width: 100%;
}

.projects .card {
  /* margin-top: 15px; */
  margin-bottom: 4em;
  padding: 10%;

  /* height: 50vh; */
  background-color: #191919;
  border-radius: 25px;
}

.projects .card-title {
  font-weight: 900;
}

.projects .card-text {
  font-weight: 700;
}

.projects .btn {
  background-color: aliceblue;
  border-radius: 13px;
  padding: 10px;
  font-weight: 600;
  color: #000;
}

@media (min-width: 768px) {
  .projects img {
    width: 70%;
    margin: 10px auto;
    display: block;
  }
}
