.about_me {
  position: relative;
  margin-top: -20vh;
  bottom: -20vh;
}

.about_meBody {
  width: 85%;
  margin: 0 auto;
  border-radius: 30px;
  border: 4px solid #222;
  background: #222;
  /* background: linear-gradient(223.65deg,rgba(10,207,131,0) 80.59%,rgba(10,207,131,.62) 113.24%),#191919; */
  padding: 30px 10%;
  max-height: 50vh;
  overflow: scroll;
}

.about_meBody::-webkit-scrollbar {
  width: 0;
}

.about_meBody h2 {
  text-align: center;
  color: #fff;
}

.about_meBody p {
  font-size: 1.2em;
  text-align: justify;
  color: #fff;
  opacity: 0.9;
}

.quote {
  font-size: 15px;
  margin-top: -12px;
}
