:root {
  --col1: #aa0c37;
  --col2: #131313;
  --col3: #cecece;
  --col4: rgb(170, 170, 170);
}

.mobileLogo {
  background: #eaeaea;
  padding: 20px 0;
}

.mobileLogo img {
  display: block;
  width: 30%;
  margin: 0 auto;
}

.navigation {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--col2);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;

  /* https://stackoverflow.com/questions/20039765/how-to-apply-a-css-filter-to-a-background-image */

  /* --tw-backdrop-blur: blur(1.5rem);
  --tw-bg-opacity: 0.5!important; */
}

.navigation ul {
  display: flex;
  padding-left: 0;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  transition: 0.5s;
  color: var(--col3);
}

.navigation ul li.active a .icon {
  transform: translateY(-35px);
}

.navigation ul li a .text {
  opacity: 0;
  position: absolute;
  color: var(--col3);
  font-size: 1.1em;
  transition: 0.5s;
  margin-top: 25px;
}

.navigation ul li.active a .text {
  opacity: 1;
}

.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background-color: var(--col1);
  border-radius: 50%;
  border: 8px solid var(--col2);
  transition: all 0.5s;

  /* transform: translateX(calc(70px*0)); */
}

/* .indicator::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: -23px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 var(--col2);
} */

/* .indicator::after {
  content: ' ';
  position: absolute;
  top: 50%;
  right: -23px;
  width: 30px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 #29fd53;
} */
