@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.summary {
  padding-bottom: 100px;
}

.myPic {
  width: 100%;
}

.profile {
  position: relative;
}

.def {
  margin-bottom: 20px;
}

.hWorld {
  position: absolute;
  top: 5%;
  right: 0;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 3rem;
}

.media {
  color: #131313;
  font-size: 1.3em;
}

.headerContact .btn {
  border: 2px solid #aa0c37;
  border-radius: 8px;
  color: #131313;
  margin-top: 20px;
  min-width: 150px;
}

@media (max-width: 768px) {
  .intro {
    order: -1;
  }
}
