@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.summary {
  padding-bottom: 100px;
  background: #eaeaea;
}

.myPic {
  width: 100%;
}

.profile {
  position: relative;
}

.def {
  margin-bottom: 20px;
}

.hWorld {
  position: absolute;
  top: 5%;
  right: 0;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 3rem;
}

.summary h1 {
  font-weight: 900;
  background: linear-gradient(308deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.media {
  color: #131313;
  font-size: 1.3em;
}

.media:hover {
  color: #aa0c37;
  font-size: 1.5em;

  transition: all .5s;
}

.headerContact .btn {
  position: relative;
  border: 2px solid #aa0c37;
  border-radius: 8px;
  color: #131313;
  margin-top: 20px;
  min-width: 150px;
  font-weight: 500;
}

.headerContact .btn:hover {
  color: #fff;
  z-index: 3;
}

.headerContact .btn::before {
  content: '';
  position: absolute;
  border-radius: 5px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #aa0c37 !important;
  z-index: -1;
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
  transform-origin: 0 0;
}

.headerContact .btn:hover::before {
  transform: scaleX(1);
}



.myBtn {
  top: 20px;
  margin-top: 20px;

  min-width: 150px;
  font-size: 1em;
  font-weight: 500;
  color: #131313;
  /* padding: 10px 30px; */
  border: 2px solid #aa0c37;
  position: relative;
  transition: .5s;
}

.myBtn:hover {
  color: #aa0c37;
}

.myBtn::before,
.myBtn::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 30px;
  border: inherit;
  transition: .5s;
}

.myBtn::before {
  top: -10px;
  left: -10px;
  border-width: 2px 0 0 2px;
}

.myBtn::after {
  bottom: -10px;
  right: -10px;
  border-width: 0 2px 2px 0;
}

.myBtn:hover::before,
.myBtn:hover::after {
  width: calc(100% + 18px);
  height: calc(100% + 18px);

}

@media (max-width: 768px) {
  .intro {
    order: -1;
  }
}

@media (min-width: 768px) {
  .summary {
    padding-top: 60px;
  }
}
