@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.myPic {
  width: 100%;
}

.profile {
  position: relative;
}

.hWorld {
  position: absolute;
  top: 5%;
  right: 0px;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 3rem;
}

.contact .btn {
  border: 2px solid #aa0c37;
  border-radius: 8px;
  color: #131313;
  margin-top: 20px;
  min-width: 150px;
}
